/.venv/
/build/
/dist/
/rkd.egg-info/
*.pyc
/.eggs
/AUTHORS
/ChangeLog
/docs/build/
subpackages/rkd_python/AUTHORS
subpackages/rkd_python/ChangeLog

/subpackages/rkd_python/rkd_python.egg-info/
/subpackages/rkd_python/build/
/subpackages/rkd_python/dist/
