/.venv/
/build/
/dist/
/src/rkd.egg-info/
*.pyc
/.eggs
/AUTHORS
/ChangeLog
/docs/build/
subpackages/rkd_python/AUTHORS
subpackages/rkd_python/ChangeLog

/subpackages/rkd_python/src/rkd_python.egg-info/
