.py.class {
    margin-bottom: 100px;
    background-color: #2196f314;
    padding: 10px;
}

.py.class .property span {
    font-weight: bold;
}

.py.method {
    margin-bottom: 25px;
    margin-top: 25px;
    background-color: #2196f31c;
    padding: 10px;
}